[DEFAULT]
Debug = false

[Telegram]
Admin = 1234
Room = -1234
NotificationsEnabled = false
NotificationsRoom = -1234
Token = AA:BB

[WebApp]
Port = 5000
RedrawMarkersEvery = 300
APIKey = AIxxxxZA
Enabled = false
Center_Latitude = 50.5
Center_Longitude = 30.5
LastHeardDefault = 3600

[Meshtastic]
Admin = !deadbeef
Device = /dev/ttyACM0
DatabaseFile = meshtastic.sqlite

[APRS]
Enabled = false
ToMeshtastic = false
FromMeshtastic = false
CallSign = N0CALL-1
Password = QwertyLOL123
