aprslib==0.7.2
flask~=2.2.2
haversine~=2.7.0
humanize~=4.4.0
meshtastic==2.0.8
pypng==0.20220715.0
python-telegram-bot==20.0
Pypubsub~=4.0.3
pony~=0.7.16
Werkzeug~=2.2.2
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
