anyio==4.11.0
aprslib==0.7.2
cryptography==46.0.1
flask~=3.1.2
getmac==0.9.5
haversine~=2.9.0
humanize~=4.13.0
meshtastic~=2.7.3
openai==2.0.1
paho-mqtt==2.1.0
pylint==3.3.8
pypng==0.20220715.0
python-telegram-bot==22.4
pytest==8.4.2
pytest-cov==7.0.0
pytest-asyncio==1.2.0
Pypubsub~=4.0.3
PyQRCode~=1.2.1
pony~=0.7.19
pytz==2025.2
reverse-geocoder==1.5.1
requests~=2.32.3
sentry-sdk==2.39.0
setproctitle~=1.3.4
slack_sdk==3.36.0
Werkzeug~=3.1.3
